<div class="container">
    <div style="text-align:center">
      <h1>Contacto</h1>
      <h2>Conoce un poco más acerca de esta aplicación.</h2>
    </div>
    <div class="row">
      <div class="column">
        <img src="../../../../assets/img/banner.png">
      </div>
      <div class="column">
        <p>Esta aplicación ha sido desarrollada por <a href="mailto:oscarlmunoz@gmail.com"> Oscar Muñoz </a>
           como proyecto de fin de ciclo para el CFGS en Desarrollo de Aplicaciones Web.
        </p>
        <p>
           Se trata de una "Single Page Aplication" que gestiona sus datos a traves de una Api-Rest
           de modo que la interfaz está desacoplada de los servicios.
        </p>
        <p>
           La aplicación está pensada para una empresa de personalización de prendas de ropa; permitiendo
           al cliente crear y comprar sus propios artículos personalizados. El admnistrador podrá gestionar la 
           visibilidad de los mismos y controlar el estado de los pedidos.
        </p>
        <p>
           El código del mismo se puede encontrar en <a href="https://bitbucket.org/oscarmunozdev">...BitBucket...</a>
        </p>
      </div>
    </div>
  </div>
  